<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        {% load static %}
        <link rel="stylesheet" href="{% static '/css/home.css'%}">
    </head>
    <body>
        <h1>
            Welcome {{request.user}}, here are your Todos
        </h1>
        <h4>
            <a class="account" href="/register/">Create new Account</a> or <a class="account" href="/accounts/login/">Log In</a>
        </h4>
        <ul>
            {% for x in todos %}
            {% if x.Name == User%}
            <li><h3>{{ x.Content }} <form action="{% url 'todo_delete' x.id %}">{% csrf_token %}<input class="delete" type='submit' value="Done"></form></h3></li>
            {% endif %}
            {% endfor %}
        </ul>
        <form action="/newTodo/">
            <input class="newTodo" type="submit" value="Create new To-Do" />
        </form>
    </body>
</html>